<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>editing items</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    
    <div class="container d-flex flex-column justify-content-center align-items-center vh-100 ">
     
      {% for message in messages %}
        <h5 class="text-danger">{{message}}</h5>
      {% endfor %}



      <form action="/edit/{{approvedpost.id}}/" method="POST" class="bg-white p-3 rounded shadow-lg" style="width: 300px;" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">

          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" name="title" value='{{approvedpost.title}}' required>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Image</label>
          <input type="file" class="form-control" id="image" name="image" accept="image/*" required value='{{approvedpost.image.url}}'>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <input type="text" class="form-control" id="description" name="description" value='{{approvedpost.description}}'>
        </div>
        
        <button type="submit" class="btn btn-primary w-100">Edit</button>
      </form>
      
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>